extend layout
block content
    center
        #main-info.jumbotron
            p Login to the endpoint
            input#ipaddress(type="text", placeholder="ip address")
            input#username(type="text", placeholder="username")
            input#password(type="password", placeholder="password")
            br
            button#loginButton(class="btn btn-sm btn-default", type="button") login
            br
            div#info


