.min-table {
  border: solid 1px #191818;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: 'Quicksand';
  font-size: 16px;
}
.min-table thead th {
  background-color: #a7a7a7;
  border: solid 1px #191818;
  color: #191818;
  padding: 10px;
  text-align: center;
  border-left: none;
  border-right: none;
}
.min-table thead tr {
  border-left: none;
  border-right: none;
}
.min-table tbody td {
  border: solid 1px #191818;
  color: #333;
  padding: 10px;
}
.min-table-horizontal tbody td {
  border-left: none;
  border-right: none;
}
